# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/